<footer class="footer">
<img class="footer__logo" src="{{asset('build/images/logo.png')}}" alt="Logo de Nutrisain.">
	<div class="">
		<div class="footer__container">
			<section class="footer__contact">
				<h3 class="footer__contact--title">Informations</h3>
				<ul>
					<li>
						<a class="footer__contact--links" href="#">A propos de nous</a>
					</li>
					<li>
						<a class="footer__contact--links" href="#">Nos services</a>
					</li>
					<li>
						<a class="footer__contact--links" href="#">Nous contacter</a>
					</li>
				</ul>
			</section>
			<section class="footer__legals">
				<h3 class="footer__legals--title">Informations légales</h3>
				<ul>
					<li>
						<a class="footer__legals--links" href="legal_notice.html.twig">Mentions légales</a>
					</li>
					<li>
						<a class="footer__legals--links" href="privacy_policy.html.twig">Politque de confidentialité</a>
					</li>
				</ul>
			</section>
		</div>
		<p class="footer__copyright">© Copyright 2023. Tous droits réservés Nutrisain.</p>
	</div>
</footer>
