{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Première connexion{% endblock %}

{% block body %}
    <main class='first-connexion-form form-flux flex-center'>
        <h1 class='first-connexion-form__title'>Initialisation de votre compte</h1>
        <section class='first-connexion-form__form'>
            {{form(form)}}
        </section>
    </main>
{% endblock %}
