{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Première connexion{% endblock %}

{% block body %}
    <main class='first-connexion-form form-flux flex-center'>
        <h1 class='first-connexion-form__title'>Initialisation de votre compte</h1>
        <section class='first-connexion-form__form'>
            {{form(form)}}
        </section>
        <p class='first-connexion-form__links'>*Vous pouvez les consulter ici : <a href="{{path('app_terms_of_use')}}" target="_blank">conditions générales d'utilisation</a>,
        <a href="{{path('app_legal_notice')}}" target="_blank">mentions légales</a>, <a href="{{path('app_privacy_policy')}}" target="_blank">politique de confidentialité</a>.</p>
    </main>
{% endblock %}
