{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Conditions générales d'utilisation{% endblock %}

{% block body %}
<main class='terms-of-use flux'>
	<section class='terms-of-use__section'>
		<h1 class='terms-of-use__main-title'>Politique de confidentialité</h1>
		<p>Dernière mise à jour : 18 mai 2023</p>
		<p>Cette politique de confidentialité décrit nos politiques et procédures sur la collecte, l'utilisation et la divulgation de vos informations lorsque vous utilisez le service et vous informe sur vos droits en matière de confidentialité et sur la manière dont la loi vous protège.</p>
		<p>Nous utilisons vos données personnelles pour fournir et améliorer le service. En utilisant le Service, Vous acceptez la collecte et l'utilisation d'informations conformément à la présente Politique de confidentialité. Cette politique de confidentialité a été créée à l'aide du
			<a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Générateur de politique de confidentialité</a>.</p>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Interprétation et définitions</h2>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Interprétation</h3>
			<p>Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes. Les définitions suivantes auront la même signification, qu'elles apparaissent au singulier ou au pluriel.</p>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Définitions</h3>
			<p>Aux fins de la présente politique de confidentialité :</p>
			<ul>
				<li>
					<p>
						<strong>Compte</strong>
						désigne un compte unique créé pour vous permettre d'accéder à notre Service ou à des parties de notre Service.</p>
				</li>
				<li>
					<p>
						<strong>Affilié</strong>
						désigne une entité qui contrôle, est contrôlée par ou est sous contrôle commun avec une partie, où "contrôle" ; désigne la propriété de 50 % ou plus des actions, des participations ou d'autres titres habilités à voter pour l'élection des administrateurs ou d'une autre autorité de gestion.</p>
				</li>
				<li>
					<p>
						<strong>Société</strong>
						(ci-après dénommée « la Société », « Nous », « Nous » ou « Notre » dans le présent Contrat) fait référence à Nutrisain.</p>
				</li>
				<li>
					<p>
						<strong>Les cookies</strong>
						sont de petits fichiers qui sont placés sur votre ordinateur, appareil mobile ou tout autre appareil par un site Web, contenant les détails de votre historique de navigation sur ce site Web parmi ses nombreuses utilisations.</p>
				</li>
				<li>
					<p>
						<strong>Pays</strong>
						fait référence à : France</p>
				</li>
				<li>
					<p>
						<strong>Appareil</strong>
						désigne tout appareil pouvant accéder au Service tel qu'un ordinateur, un téléphone portable ou une tablette numérique.</p>
				</li>
				<li>
					<p>
						<strong>Les données personnelles</strong>
						sont toutes les informations relatives à une personne identifiée ou identifiable.</p>
				</li>
				<li>
					<p>
						<strong>Service</strong>
						fait référence au site Web.</p>
				</li>
				<li>
					<p>
						<strong>Prestataire de services</strong>
						désigne toute personne physique ou morale qui traite les données au nom de la Société. Il s'agit de sociétés ou de particuliers tiers employés par la Société pour faciliter le service, fournir le service au nom de la Société, réaliser des services liés au service ou aider la Société à analyser la manière dont le service est utilisé.</p>
				</li>
				<li>
					<p>
						<strong>Données d'utilisation</strong>
						désigne les données collectées automatiquement, générées soit par l'utilisation du service, soit par l'infrastructure du service elle-même (par exemple, la durée d'une visite de page).</p>
				</li>
				<li>
					<p>
						<strong>Site web</strong>
						désigne Nutrisain, accessible depuis
						<a href="https://nutrisain.studio" rel="external nofollow noopener" target="_blank">https://nutrisain.studio</a>
					</p>
				</li>
				<li>
					<p>
						<strong>Vous</strong>
						désigne l'individu accédant ou utilisant le service, ou la société ou autre entité juridique au nom de laquelle cet individu accède ou utilise le service, le cas échéant.</p>
				</li>
			</ul>
		</div>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Collecte et utilisation de vos données personnelles</h2>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Types de données collectées</h3>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Données personnelles</h4>
				<p>Lors de l'utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnelles identifiables peuvent inclure, mais ne sont pas limitées à :</p>
				<ul>
					<li>
						<p>Adresse e-mail</p>
					</li>
					<li>
						<p>Prénom et nom</p>
					</li>
					<li>
						<p>Données d'utilisation</p>
					</li>
				</ul>
			</div>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Données d'utilisation</h4>
				<p>Les données d'utilisation sont collectées automatiquement lors de l'utilisation du service.</p>
				<p>Les données d'utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre appareil (par exemple, adresse IP), le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, des identifiants d'appareil uniques et d'autres données de diagnostic.</p>
				<p>Lorsque vous accédez au service via un appareil mobile, nous pouvons collecter certaines informations automatiquement, notamment, sans s'y limiter, le type d'appareil mobile que vous utilisez, l'identifiant unique de votre appareil mobile, l'adresse IP de votre appareil mobile, votre système d'exploitation mobile, le type de navigateur Internet mobile que vous utilisez, des identifiants d'appareil uniques et d'autres données de diagnostic.</p>
				<p>Nous pouvons également collecter des informations que votre navigateur envoie chaque fois que vous visitez notre service ou lorsque vous accédez au service via un appareil mobile.</p>
			</div>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Technologies de suivi et cookies</h4>
				<p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre service et stocker certaines informations. Les technologies de suivi utilisées comprennent des balises, des tags et des scripts pour collecter et suivre des informations, ainsi que pour améliorer et analyser notre service. Les technologies que nous utilisons peuvent inclure :</p>
				<ul>
					<li>
						<strong>Cookies ou cookies de navigateur.</strong>
						Un cookie est un petit fichier placé sur votre appareil. Vous pouvez demander à votre navigateur de refuser tous les cookies ou d'indiquer quand un cookie est envoyé. Cependant, si vous n'acceptez pas les cookies, vous ne pourrez peut-être pas utiliser certaines parties de notre service. À moins que vous n'ayez modifié les paramètres de votre navigateur pour qu'il refuse les cookies, notre service peut utiliser des cookies.</li>
					<li>
						<strong>Web beacons.</strong>
						Certaines sections de notre service et nos e-mails peuvent contenir de petits fichiers électroniques appelés balises Web (également appelées gifs transparents, balises pixel et gifs à pixel unique) qui permettent à la société, par exemple, de compter les utilisateurs qui ont visité ces pages ou ouvert un e-mail, ainsi que pour d'autres statistiques liées au site Web (par exemple, enregistrer la popularité d'une certaine section et vérifier l'intégrité du système et du serveur).</li>
				</ul>
				<p>Les cookies peuvent être des cookies « persistants » ou des cookies « de session ». Les cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque vous êtes hors ligne, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur. Apprenez-en davantage sur les cookies sur l'article du site Web
					<a href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking" target="_blank">Privacy Policies</a>.</p>
				<p>Nous utilisons à la fois des cookies de session et des cookies persistants aux fins énoncées ci-dessous :</p>
				<ul>
					<li>
						<p>
							<strong>Pour fournir et maintenir notre service</strong>, y compris pour surveiller l'utilisation de notre service.</p>
					</li>
					<li>
						<p>
							<strong>Pour gérer votre compte :</strong>
							pour gérer votre inscription en tant qu'utilisateur du service. Les données personnelles que vous fournissez peuvent vous donner accès à différentes fonctionnalités du service qui sont disponibles pour vous en tant qu'utilisateur enregistré.</p>
					</li>
					<li>
						<p>
							<strong>Pour l'exécution d'un contrat :</strong>
							le développement, le respect et l'exécution du contrat d'achat des produits, articles ou services que vous avez achetés ou de tout autre contrat avec nous via le service.</p>
					</li>
					<li>
						<p>
							<strong>Pour vous contacter :</strong>
							Pour vous contacter par e-mail, appels téléphoniques, SMS ou autres formes de communication électronique équivalentes, telles que les notifications push d'une application mobile, concernant les mises à jour ou les communications informatives liées aux fonctionnalités, produits ou services contractés, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</p>
					</li>
					<li>
						<p>
							<strong>Pour vous fournir</strong>
							des actualités, des offres spéciales et des informations générales sur d'autres biens, services et événements que nous proposons et qui sont similaires à ceux que vous avez déjà achetés ou sur lesquels vous avez déjà demandé des informations, sauf si vous avez choisi de ne pas recevoir de telles informations.</p>
					</li>
					<li>
						<p>
							<strong>Pour gérer vos demandes :</strong>
							Pour répondre et gérer vos demandes auprès de nous.</p>
					</li>
					<li>
						<p>
							<strong>Pour les transferts d'entreprise :</strong>
							Nous pouvons utiliser vos informations pour évaluer ou effectuer une fusion, une cession d'actifs, une restructuration, une réorganisation, une dissolution ou une autre vente ou transfert de tout ou partie de nos actifs, que ce soit dans le cadre d'une entreprise en activité ou dans le cadre d'une procédure de faillite, de liquidation ou de procédure similaire, dans laquelle les données personnelles détenues par nous concernant les utilisateurs de notre service font partie des actifs transférés.</p>
					</li>
					<li>
						<p>
							<strong>Pour d'autres fins</strong>
							: Nous pouvons utiliser vos informations à d'autres fins, telles que l'analyse des données, l'identification des tendances d'utilisation, la détermination de l'efficacité de nos campagnes promotionnelles et l'évaluation et l'amélioration de notre service, de nos produits, services, marketing et de votre expérience.</p>
					</li>
				</ul>
				<p>Nous pouvons partager vos informations personnelles dans les situations suivantes :</p>
				<ul>
					<li>
						<strong>Avec les prestataires de services :</strong>
						Nous pouvons partager vos informations personnelles avec les prestataires de services pour surveiller et analyser l'utilisation de notre service, et pour vous contacter.</li>
					<li>
						<strong>Pour les transferts d'entreprise :</strong>
						Nous pouvons partager ou transférer vos informations personnelles dans le cadre de toute fusion, vente d'actifs de la société, financement ou acquisition de tout ou partie de notre activité par une autre société.</li>
					<li>
						<strong>With business partners:</strong>
						We may share Your information with Our business partners to offer You certain products, services or promotions.</li>

					<li>
						<strong>Avec d'autres utilisateurs :</strong>
						lorsque vous partagez des informations personnelles ou interagissez d'une autre manière dans les zones publiques avec d'autres utilisateurs, ces informations peuvent être consultées par tous les utilisateurs et peuvent être diffusées publiquement à l'extérieur.</li>
					<li>
						<strong>Avec votre consentement</strong>
						: Nous pouvons divulguer vos informations personnelles à toute autre fin avec votre consentement.</li>
				</ul>
			</div>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Conservation de vos données personnelles</h3>
			<p>La société ne conservera vos données personnelles que pendant la durée nécessaire aux fins énoncées dans cette politique de confidentialité. Nous conserverons et utiliserons vos données personnelles dans la mesure nécessaire pour nous conformer à nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour respecter les lois applicables), résoudre les litiges et faire respecter nos accords et politiques juridiques.</p>
			<p>La société conservera également les données d'utilisation à des fins d'analyse interne. Les données d'utilisation sont généralement conservées pendant une période plus courte, sauf lorsque ces données sont utilisées pour renforcer la sécurité ou améliorer la fonctionnalité de notre service, ou lorsque nous sommes légalement tenus de conserver ces données pendant des périodes plus longues.</p>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Transfert de vos données personnelles</h3>
			<p>Vos informations, y compris les données personnelles, sont traitées dans les bureaux opérationnels de la société et dans tout autre lieu où les parties impliquées dans le traitement sont situées. Cela signifie que ces informations peuvent être transférées et conservées sur des ordinateurs situés en dehors de votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection des données peuvent différer de celles de votre juridiction.</p>
			<p>Votre consentement à cette politique de confidentialité, suivi de votre soumission de telles informations, représente votre accord à ce transfert.</p>
			<p>La société prendra toutes les mesures raisonnablement nécessaires pour garantir que vos données sont traitées de manière sécurisée et conformément à cette politique de confidentialité, et aucun transfert de vos données personnelles n'aura lieu vers une organisation ou un pays à moins qu'il n'y ait des contrôles adéquats en place, y compris la sécurité de vos données et autres informations personnelles.</p>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Supprimer vos données personnelles</h3>
			<p>Vous avez le droit de supprimer ou de demander notre assistance pour supprimer les données personnelles que nous avons collectées à votre sujet.</p>
			<p>Notre service peut vous permettre de supprimer certaines informations vous concernant à partir de celui-ci.</p>
			<p>Vous pouvez mettre à jour, modifier ou supprimer vos informations à tout moment en vous connectant à votre compte, le cas échéant, et en visitant la section des paramètres du compte qui vous permet de gérer vos informations personnelles. Vous pouvez également nous contacter pour demander l'accès, la correction ou la suppression de toute information personnelle que vous nous avez fournie.</p>
			<p>Veuillez noter, cependant, que nous pouvons avoir besoin de conserver certaines informations lorsque nous avons une obligation légale ou une base légale pour le faire.</p>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Divulgation de vos données personnelles</h3>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Transactions commerciales</h4>
				<p>Si la société est impliquée dans une fusion, une acquisition ou une vente d'actifs, vos données personnelles peuvent être transférées. Nous vous informerons avant que vos données personnelles ne soient transférées et soumises à une politique de confidentialité différente.</p>
			</div>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Application de la loi</h4>
				<p>Dans certaines circonstances, la société peut être tenue de divulguer vos données personnelles si la loi l'exige ou en réponse à des demandes valides des autorités publiques (par exemple, un tribunal ou un organisme gouvernemental).</p>
			</div>
			<div class='terms-of-use-paragraph'>
				<h4 class='terms-of-use-paragraph__subtitle'>Autres exigences légales</h4>
				<p>La société peut divulguer vos données personnelles de bonne foi si une telle action est nécessaire pour :</p>
				<ul>
					<li>Se conformer à une obligation légale</li>
					<li>Protéger et défendre les droits ou les biens de la société</li>
					<li>Prévenir ou enquêter sur d'éventuelles infractions en relation avec le service</li>
					<li>Protéger la sécurité personnelle des utilisateurs du service ou du public</li>
					<li>Se protéger contre une responsabilité légale</li>
				</ul>
			</div>
		</div>
		<div class='terms-of-use-paragraph'>
			<h3 class='terms-of-use-paragraph__title'>Sécurité de vos données personnelles</h3>
			<p>La sécurité de vos données personnelles est importante pour nous, mais n'oubliez pas qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est sécurisée à 100 %. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos données personnelles, nous ne pouvons garantir leur sécurité absolue.</p>
		</div>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Vie privée des enfants</h2>
		<p>Notre service ne s'adresse à personne de moins de 13 ans. Nous ne collectons sciemment aucune information identifiable personnellement auprès de personnes de moins de 13 ans. Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a fourni des données personnelles, veuillez nous contacter. Si nous découvrons que nous avons collecté des données personnelles auprès de personnes de moins de 13 ans sans vérification du consentement parental, nous prendrons des mesures pour supprimer ces informations de nos serveurs.</p>
		<p>Si nous devons nous appuyer sur le consentement en tant que base légale pour traiter vos informations et que votre pays exige le consentement d'un parent, nous pouvons exiger le consentement de votre parent avant de collecter et d'utiliser ces informations.</p>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Liens vers d'autres sites web</h2>
		<p>Notre service peut contenir des liens vers d'autres sites web qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez redirigé vers le site de ce tiers. Nous vous conseillons vivement de consulter la politique de confidentialité de chaque site que vous visitez.</p>
		<p>Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites ou services tiers et n'assumons aucune responsabilité à cet égard.</p>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Modification de cette politique de confidentialité</h2>
		<p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Nous vous informerons de tout changement en publiant la nouvelle politique de confidentialité sur cette page.</p>
		<p>Nous vous informerons par e-mail et/ou par un avis important sur notre service avant que le changement ne prenne effet et mettrons à jour la date de "Dernière mise à jour" en haut de cette politique de confidentialité.</p>
		<p>Nous vous conseillons de consulter périodiquement cette politique de confidentialité pour tout changement. Les changements apportés à cette politique de confidentialité sont effectifs lorsqu'ils sont publiés sur cette page.</p>
	</section>
	<section class='terms-of-use__section'>
		<h2 class='terms-of-use__section--title'>Contactez-nous</h2>
		<p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter :</p>
		<ul>
			<li>
				<p>Par e-mail : nutrisain-administration@nutrisain.studio</p>
			</li>
			<li>
				<p>En visitant cette page sur notre site web :
					<a href="https://nutrisain.studio/contact" rel="external nofollow noopener" target="_blank">https://nutrisain.studio/contact</a>
				</p>
			</li>
			<li>
				<p>Par téléphone : 000000000</p>
			</li>
			<li>
				<p>Par courrier : 1 rue de la République, 14118 Caen</p>
			</li>
		</ul>
	</section>
</main>
{% endblock %}
