<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
			Nutrisain
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
		<link rel="icon" href="{{asset('build/images/logo.png')}}">
		<meta viewport="width=device-width, initial-scale=1.0">
		<meta description="Venez découvrir comment manger sain et bon pour vous sentir bien !">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Old+Standard+TT:ital@1&display=swap" rel="stylesheet">
		{% endblock %}

	</head>
	<body>
		{% block header %}
			{% include "_partials/_header.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "_partials/_footer.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>

