<form method="post" action="{{ path('app_recipes_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');" class="recipe-form__delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn btn__linear-gradient recipe-form__delete-form--button">Supprimer</button>
</form>
