<section class="recipe-form__flux">
{{ form_start(form, {'attr': {'class': 'recipe-form__form'}}) }}
    {{ form_widget(form) }}
    <div class='flex-center recipe-form__modification'>
        <button class="btn btn__linear-gradient">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
</section>
