<section class='no-recipe-found'>
    <h1 class='no-recipe-found__title'>Aucune recette trouvée</h1>
    <p class='no-recipe-found__info'>Aucune recette correspond à votre recherche n'a été trouvée.<br> Veuillez modifier votre recherche.</p>
</section>
