    <section class='error403'>
        <h1 class='error403__title'>Aucune recette trouvée</h1>
        <p class='error403__info'>Aucune recette correspond à votre recherche n'a été trouvée. Veuillez modifier votre recherche.</p>
    </section>
