{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Modification recette{% endblock %}

{% block body %}
    <main class='recipe-form form-flux'>
        <h1 class='recipe-form__title'>Modification de la recette {{ recipe.title }}</h1>

        {{ include('recipes/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class='flex-center'>
            <a href="{{ path('app_recipes_index') }}" class='btn btn__linear-gradient'>Retourner à la liste des recettes</a>
        </div>

        {{ include('recipes/_delete_form.html.twig') }}
    </main>
{% endblock %}
