{% extends 'base.html.twig' %}

{% block title %}New Recipes{% endblock %}

{% block body %}
    <main class='recipe-form form-flux'>
        <h1 class='recipe-form__title'>Création d'une recette</h1>

        {{ include('recipes/_form.html.twig') }}

        <div class='flex-center'>
            <a href="{{ path('app_recipes_index') }}" class='btn btn__linear-gradient'>Retourner à la liste des recettes</a>
        </div>
    </main>
{% endblock %}
