{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Modification mot de passe{% endblock %}

{% block body %}
    <main class='user-change-password-form form-flux flex-center'>
        <h1 class='user-change-password-form__title'>Modification de votre mot de passe</h1>
        <section class='user-change-password-form__form'>
            {{form(form)}}
        </section>
    </main>
{% endblock %}