{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Accès refusé{% endblock %}

{% block body %}
    <section class='error card-flux'>
        <h1 class='error__title'>Accès refusé.</h1>
        <p class='error__info'>Vous n'avez pas les droits pour accéder à cette page.</p>
        <a href="{{ path('app_home_page_index')}}" class='error__link underline'>Retourner à la page d'accueil</a>
    </section>
{% endblock %}