{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Page introuvable{% endblock %}

{% block body %}
    <main class='error flex-center card-flux'>
        <h1 class='error__title'>Page introuvable</h1>
        <p class='error__info'>La page que vous avez demandée n'existe pas.</p>
        <a href="{{ path('app_home_page_index')}}" class='error__link underline'>Retourner à la page d'accueil</a>
    </main>
{% endblock %}