* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.legal-notice__main-title, .privacy-policy__main-title, .terms-of-use__main-title, .first-connexion-form__title, .change-user-informations-form__title, .user-change-password-form__title, .user-profil__title, .contact-page-form__title, .contact-page-welcome__title, .register-form__title, .login-form__title, .recipe-form__title, .recipe-page__title, .home-page-form__title, .main__title {
  font-family: "old standard tt", serif;
  font-size: 3rem;
}

.legal-notice__section--title, .privacy-policy__section--title, .terms-of-use__section--title, .services__title, .description__title {
  font-family: "old standard tt", serif;
  font-size: 2.3rem;
}

.legal-notice-paragraph__title, .terms-of-use-paragraph__title, .error__title, .user-profil-recipe__description--title, .no-recipe-found__title, .show-recipe__title, .recipe__description--title {
  font-family: "old standard tt", serif;
  font-size: 1.7rem;
}

.terms-of-use-paragraph__subtitle, .footer__contact--title, .footer__legals--title {
  font-family: "old standard tt", serif;
  font-size: 1.3rem;
}

.user-profil__informations--title, .contact-page-welcome__text, .recipe-page__description, .main__text-presentation {
  font-family: "cardo", serif;
  font-size: 2rem;
}

.app-flash-message, .user-profil__informations--name, .user-profil__informations--firstname, .user-profil__informations--email, .user-diets-list, .user-diets-list__name, .user-allergies-list, .user-allergies-list__name, .contact-page-informations__text, .active, .filters__title, .home-page-links, .services__text-presentation, .description__text-presentation {
  font-family: "cardo", serif;
  font-size: 1.7rem;
}

.underline, .btn__linear-gradient, .error__info, .first-connexion-form__field--label, .first-connexion-form__field--input, .first-connexion-form__field-checkbox--label, .change-user-informations-form__information, .change-user-informations-form__field--label, .change-user-informations-form__field--input, .user-change-password-form__field--label, .user-change-password-form__field--input, .user-profil-recipe__none, .user-profil-recipe__description--details, .contact-page-form__field--label, .contact-page-form__field--input, .register-form__field--label, .register-form__field--input, .login-form__field--label, .login-form__field--input, .no-recipe-found__info, .recipe-form__field--label, .recipe-form__field--input, .show-recipe__description, .show-recipe__times--preparationTime, .show-recipe__times--preparationStandingTime, .show-recipe__times--cookingTime, .show-recipe__ingredients, .show-recipe__stagesOfRecipe, .paging__list, .opinion__show-comment, .opinion__details--username, .opinion__details--comment, .opinion__add-new-comment, .opinion__form--text-input, .opinion__form--submit-input, .recipe__description--details, .filters__label, .category-filters__title, .diet-filters__title, .home-page-form__field--label, .home-page-form__field--input, .header__link {
  font-family: "cardo", serif;
  font-size: 1.3rem;
}

.first-connexion-form__links, .footer__contact--links, .footer__legals--links, .footer__copyright {
  font-family: "cardo", serif;
  font-size: 0.75rem;
}

.flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.card-flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
@media screen and (min-width: 855px) {
  .card-flux {
    max-width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .card-flux {
    max-width: 35%;
  }
}

.form-flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
@media screen and (min-width: 1100px) {
  .form-flux {
    max-width: 50%;
  }
}

.filters-flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
@media screen and (min-width: 768px) {
  .filters-flux {
    max-width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .filters-flux {
    max-width: 80%;
  }
}

.recipe-flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
@media screen and (min-width: 855px) {
  .recipe-flux {
    max-width: 90%;
  }
}
@media screen and (min-width: 855px) and (min-width: 1100px) {
  .recipe-flux {
    max-width: 80%;
  }
}

.header {
  background-color: #073B3A;
}
.header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 855px) {
  .header__container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.header__container--logo {
  width: 40vw;
}
@media screen and (min-width: 855px) {
  .header__container--logo {
    width: 20vw;
  }
}
.header__container--nav {
  display: none;
}
@media screen and (min-width: 855px) {
  .header__container--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin 0.3s eases;
  }
}
.header__container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 855px) {
  .header__container--btn {
    display: none;
  }
}
.header__container--btn i {
  display: block;
  color: #6BBF59;
  font-size: 2rem;
}
.header__admin-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.header__admin-container--logo {
  width: 30vw;
}
.header__admin-container--nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
  margin: auto;
  transition: height, margin 0.3s eases;
}
.header__admin-container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 855px) {
  .header__admin-container--btn {
    display: none;
  }
}
.header__admin-container--btn i {
  display: block;
  color: #6BBF59;
  font-size: 2rem;
}
.header__link {
  margin: 0.8rem;
  color: #DDB771;
  text-align: center;
  transition: color 0.5s ease;
}
@media screen and (min-width: 855px) {
  .header__link {
    margin: 0.07rem;
  }
}

.nav-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  right: 0;
  transition: all 400ms;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #08A045;
  color: #DDB771;
}
.btn__primary:hover {
  background-color: #08A045;
  color: #DDB771;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.footer {
  color: #DDB771;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vw;
  background-color: #073B3A;
}
.footer__logo {
  width: 40vw;
}
@media screen and (min-width: 855px) {
  .footer__logo {
    width: 20vw;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 5vw;
  }
}
.footer__contact {
  margin-right: 5vw;
  margin-top: 2vw;
}
.footer__contact--title {
  text-decoration: underline;
  text-underline-offset: 0.2vw;
}
.footer__contact--links:hover {
  color: #08A045;
}
.footer__legals {
  margin-right: 5vw;
  margin-top: 2vw;
}
.footer__legals--title {
  text-decoration: underline;
  text-underline-offset: 0.2vw;
}
.footer__legals--links:hover {
  color: #08A045;
}
.footer__copyright {
  margin-top: 5vw;
  margin-bottom: 2vw;
}
@media screen and (min-width: 855px) {
  .footer__copyright {
    margin-top: 2vw;
  }
}

.main {
  margin-top: 8rem;
  text-align: center;
}
.main__text-presentation {
  margin-top: 2rem;
}

.description {
  margin-top: 8rem;
  text-align: center;
}
.description__text-presentation {
  margin-top: 2rem;
}

.services {
  margin-top: 8rem;
  text-align: center;
}
.services__text-presentation {
  margin-top: 2rem;
}

.home-page-links {
  margin-top: 8rem;
  margin-bottom: 8rem;
  flex-direction: column;
}
.home-page-links__recipes {
  color: #08A045;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #0B6E4F;
}
.home-page-links__recipes:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
}
.home-page-links__contact {
  margin-top: 2rem;
  color: #08A045;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #0B6E4F;
}
.home-page-links__contact:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
}
.home-page-links__modifier {
  margin-top: 5rem;
  color: #08A045;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #0B6E4F;
  text-align: center;
}
.home-page-links__modifier:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
}

.home-page-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.home-page-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.home-page-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5vw;
}
.home-page-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  max-width: 100%;
}
.home-page-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.home-page-form__field--input {
  max-width: 100%;
}
.home-page-form__modification {
  margin-top: 5vw;
}
@media screen and (min-width: 855px) {
  .home-page-form__modification {
    margin-top: 1vw;
  }
}

.filters {
  flex-direction: column;
  margin-top: 5rem;
}
.filters__title {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #DDB771;
  text-underline-offset: 0.2rem;
  margin: auto;
}
.filters__title:hover {
  text-decoration-color: #073B3A;
}
.filters__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #DDB771;
  padding: 1rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .filters__form {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (min-width: 1100px) {
  .filters__form {
    flex-direction: column;
    align-items: center;
  }
}
.filters__checkbox {
  margin-top: 1rem;
}
@media screen and (min-width: 1100px) {
  .filters__checkbox {
    margin-top: 0;
  }
}
.filters__label {
  margin-left: 0.2rem;
  margin-right: 1rem;
}

.category-filters {
  flex-direction: column;
}
.category-filters__title {
  color: #DDB771;
  background-color: #0B6E4F;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
}
.category-filters__select-container {
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .category-filters__select-container {
    flex-direction: row;
    margin-top: 1rem;
  }
}
.category-filters__select-container--selects {
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .category-filters__select-container--selects {
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  .category-filters__select-container--selects {
    flex-direction: row;
  }
}

.diet-filters {
  flex-direction: column;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .diet-filters {
    margin-top: 0;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .diet-filters {
    margin-left: 0;
    margin-top: 3rem;
  }
}
.diet-filters__title {
  color: #DDB771;
  background-color: #0B6E4F;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
}
.diet-filters__select-container {
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .diet-filters__select-container {
    flex-direction: row;
    margin-top: 1rem;
  }
}
.diet-filters__select-container--selects {
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .diet-filters__select-container--selects {
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  .diet-filters__select-container--selects {
    flex-direction: row;
  }
}

.recipe-page {
  flex-direction: column;
  margin-top: 5rem;
}
.recipe-page__title {
  text-align: center;
}
.recipe-page__description {
  margin-top: 1.5rem;
  text-align: center;
}

.filtered-recipes {
  flex-direction: column;
}

.recipes {
  margin: 2rem;
}
.recipes__list {
  flex-direction: column;
}

.card-recipe {
  margin-top: 3rem;
  padding: 1rem;
  flex-direction: column;
  box-shadow: 1px 1px 20px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.card-recipe__composition {
  flex-direction: column;
}
@media screen and (min-width: 855px) {
  .card-recipe__composition {
    flex-direction: row;
  }
}
.card-recipe__more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 855px) {
  .card-recipe__more {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.recipe__image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 1.5rem;
}
@media screen and (min-width: 855px) {
  .recipe__image {
    width: 45%;
  }
}
.recipe__description {
  flex-direction: column;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 855px) {
  .recipe__description {
    width: 48%;
  }
}
.recipe__description--title {
  color: #08A045;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
  text-underline-offset: 0.3rem;
}
.recipe__description--details {
  margin-top: 0.7rem;
}

.favoris {
  margin: 1.5rem;
}
@media screen and (min-width: 855px) {
  .favoris {
    margin: 0;
    margin-right: 1.5rem;
  }
}
.favoris__container:hover {
  cursor: pointer;
}

.fa-solid {
  color: red;
}

.opinion {
  flex-direction: column;
}
.opinion__show-comment {
  text-align: center;
  color: #08A045;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
  text-underline-offset: 0.3rem;
}
.opinion__show-comment:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
  cursor: pointer;
}
.opinion__container {
  flex-direction: column;
  text-align: center;
}
.opinion__details {
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 1.5rem;
  border-block: solid;
  border-block-color: #DDB771;
}
.opinion__details--comment {
  margin-top: 0.7rem;
}
.opinion__add-new-comment {
  margin: 1rem;
  text-align: center;
  color: #08A045;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
  text-underline-offset: 0.3rem;
}
.opinion__add-new-comment:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
  cursor: pointer;
}
@media screen and (min-width: 855px) {
  .opinion__add-new-comment {
    margin: 0;
    margin-left: 1rem;
  }
}
.opinion__form {
  flex-direction: column;
  text-align: center;
}
.opinion__form--text-input {
  width: 100%;
}
.opinion__form--submit-input {
  margin-top: 0.7rem;
  background: linear-gradient(to bottom right, #0B6E4F, #6BBF59);
  text-align: center;
  padding: 0.7vw 0.5vw;
  border-radius: 1rem;
}
.opinion__form--submit-input:hover {
  box-shadow: 1px 1px 10px -1px #073B3A;
}

.opinion-no-user {
  margin-top: 1.5rem;
}
@media screen and (min-width: 855px) {
  .opinion-no-user {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.new-recipe {
  text-align: center;
}

.recipe__modification {
  margin-top: 1rem;
  flex-direction: column;
}
@media screen and (min-width: 855px) {
  .recipe__modification {
    flex-direction: row;
  }
}
@media screen and (min-width: 855px) {
  .recipe__modification--modifier {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 855px) {
  .recipe__modification--delete {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

.paging__list {
  flex-direction: column;
  margin: 3rem;
}
@media screen and (min-width: 855px) {
  .paging__list {
    flex-direction: row;
  }
}
.paging__list--first-page {
  color: #073B3A;
}
.paging__list--first-page:hover {
  cursor: pointer;
  color: #0B6E4F;
}
@media screen and (min-width: 855px) {
  .paging__list--first-page {
    margin-right: 1rem;
  }
}
.paging__list--previous-page {
  margin-top: 0.5rem;
  color: #073B3A;
}
.paging__list--previous-page:hover {
  cursor: pointer;
  color: #0B6E4F;
}
@media screen and (min-width: 855px) {
  .paging__list--previous-page {
    margin-top: 0;
    margin-right: 1rem;
  }
}
.paging__list--item {
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  background-color: #08A045;
  color: #DDB771;
  padding: 0.5rem;
  border-radius: 1rem;
}
.paging__list--item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 47px -3px #073B3A;
  background-color: #DDB771;
  color: #08A045;
}
@media screen and (min-width: 855px) {
  .paging__list--item {
    margin-top: 0;
    margin-right: 0.5rem;
  }
}
.paging__list--next-page {
  margin-top: 0.5rem;
  color: #073B3A;
}
.paging__list--next-page:hover {
  cursor: pointer;
  color: #0B6E4F;
}
@media screen and (min-width: 855px) {
  .paging__list--next-page {
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
}
.paging__list--last-page {
  margin-top: 0.5rem;
  color: #073B3A;
}
.paging__list--last-page:hover {
  cursor: pointer;
  color: #0B6E4F;
}
@media screen and (min-width: 855px) {
  .paging__list--last-page {
    margin-top: 0;
  }
}

.active {
  background-color: #6BBF59;
  color: #DDB771;
}

.link-to-show-recipe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.show-recipe {
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
  color: #0B6E4F;
}
.show-recipe__image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 1.5rem;
}
.show-recipe__title {
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
  color: #073B3A;
}
.show-recipe__description {
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
}
.show-recipe__times {
  margin: 1rem;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 855px) {
  .show-recipe__times {
    flex-direction: row;
  }
}
@media screen and (min-width: 855px) {
  .show-recipe__times--preparationTime {
    margin-right: 1rem;
  }
}
.show-recipe__times--preparationStandingTime {
  margin-top: 1rem;
}
@media screen and (min-width: 855px) {
  .show-recipe__times--preparationStandingTime {
    margin-right: 1rem;
    margin-top: 0;
  }
}
.show-recipe__times--cookingTime {
  margin-top: 1rem;
}
@media screen and (min-width: 855px) {
  .show-recipe__times--cookingTime {
    margin-left: 1rem;
    margin-top: 0;
  }
}
.show-recipe__ingredients {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin: 1rem;
  flex-direction: column;
}
.show-recipe__ingredients--details {
  margin-top: 0.5rem;
  text-align: center;
}
.show-recipe__stagesOfRecipe {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin: 1rem;
}
.show-recipe__stagesOfRecipe--details {
  margin-top: 1rem;
}

.recipe-link {
  flex-direction: column;
}

.recipe-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.recipe-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.recipe-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5vw;
}
.recipe-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  max-width: 100%;
}
.recipe-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.recipe-form__field--ispublic-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 482px) {
  .recipe-form__field--ispublic-checkbox {
    flex-direction: row;
    justify-content: space-between;
  }
}
.recipe-form__field--input {
  max-width: 100%;
}
.recipe-form__modification {
  margin-top: 5vw;
}
.recipe-form__delete-form {
  text-align: center;
}
.recipe-form__delete-form--button:hover {
  cursor: pointer;
}

#recipes_allergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#recipes_allergy > label {
  margin-bottom: 5vw;
}
@media screen and (min-width: 482px) {
  #recipes_allergy > label {
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 855px) {
  #recipes_allergy > label {
    margin-bottom: 2vw;
  }
}

#recipes_diet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#recipes_diet > label {
  margin-bottom: 5vw;
}
@media screen and (min-width: 482px) {
  #recipes_diet > label {
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 855px) {
  #recipes_diet > label {
    margin-bottom: 2vw;
  }
}

#recipes_isPublic {
  margin-top: 0.5rem;
}
@media screen and (min-width: 482px) {
  #recipes_isPublic {
    margin-top: 0;
  }
}

#recipes_imageFile_file {
  margin: 1rem;
  width: 100%;
}

#recipes_imageFile_delete {
  margin-left: 0.5rem;
}

.vich-image a img {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}

.no-recipe-found {
  text-align: center;
  margin-top: 5rem;
}
.no-recipe-found__title {
  margin-bottom: 2rem;
  color: #073B3A;
}
.no-recipe-found__info {
  color: #6BBF59;
}

.login-form {
  flex-direction: column;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.login-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.login-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5vw;
}
.login-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}
.login-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
}
.login-form__field--input {
  width: 100%;
}
.login-form__button {
  max-width: 100%;
}

.register-form {
  flex-direction: column;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.register-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.register-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5vw;
  max-width: 100%;
}
.register-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  max-width: 100%;
}
.register-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.register-form__field--input {
  max-width: 100%;
}

#registration_form_allergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#registration_form_allergy > label {
  margin-bottom: 5vw;
}
@media screen and (min-width: 482px) {
  #registration_form_allergy > label {
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 855px) {
  #registration_form_allergy > label {
    margin-bottom: 2vw;
  }
}

#registration_form_diet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#registration_form_diet > label {
  margin-bottom: 5vw;
}
@media screen and (min-width: 482px) {
  #registration_form_diet > label {
    margin-bottom: 3vw;
  }
}
@media screen and (min-width: 855px) {
  #registration_form_diet > label {
    margin-bottom: 2vw;
  }
}

.contact-page-welcome {
  margin-top: 8rem;
  text-align: center;
}
.contact-page-welcome__text {
  margin-top: 2rem;
}

.contact-page-informations {
  margin-top: 5rem;
  text-align: center;
}
.contact-page-informations__text {
  margin-top: 2rem;
}

.contact-page-modification {
  margin-top: 7rem;
  text-align: center;
}

.contact-page-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}
.contact-page-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.contact-page-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5vw;
}
.contact-page-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  max-width: 100%;
}
.contact-page-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.contact-page-form__field--input {
  max-width: 100%;
}
.contact-page-form__modification {
  margin-top: 5vw;
}
@media screen and (min-width: 855px) {
  .contact-page-form__modification {
    margin-top: 1vw;
  }
}

.user-profil {
  flex-direction: column;
  margin-top: 5rem;
  padding: 1rem;
}
@media screen and (min-width: 855px) {
  .user-profil {
    padding: 0;
  }
}
.user-profil__title {
  text-align: center;
}
.user-profil__informations {
  margin-top: 1.5rem;
}
.user-profil__informations--title {
  margin-top: 2rem;
}
@media screen and (min-width: 855px) {
  .user-profil__informations--title {
    margin-left: -50%;
  }
}
.user-profil__informations--name {
  margin-top: 1rem;
}
.user-profil__informations--firstname {
  margin-top: 1rem;
}
.user-profil__informations--email {
  margin-top: 1rem;
}
.user-profil__modifications {
  text-align: center;
}

.user-diets-list {
  margin-top: 2rem;
  list-style: inside;
}
.user-diets-list__name {
  margin-top: 1rem;
  margin-left: 45%;
}

.user-allergies-list {
  margin-top: 2rem;
  list-style: inside;
}
.user-allergies-list__name {
  margin-top: 1rem;
  margin-left: 45%;
}

.user-profil__favorite-recipes {
  margin-top: 3.5rem;
  flex-direction: column;
}
.user-profil__favorite-recipes--list {
  flex-direction: column;
}

.user-profil__modifications {
  flex-direction: column;
  margin-top: 8rem;
}
@media screen and (min-width: 855px) {
  .user-profil__modifications {
    flex-direction: row;
  }
}
@media screen and (min-width: 855px) {
  .user-profil__modifications--informations {
    margin-right: 1rem;
  }
}
.user-profil__modifications--password {
  margin-top: 1rem;
}
@media screen and (min-width: 855px) {
  .user-profil__modifications--password {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.user-profil-recipe {
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 855px) {
  .user-profil-recipe {
    flex-direction: row;
    width: 70%;
  }
}
.user-profil-recipe__none {
  color: #6BBF59;
  margin-top: 1rem;
}
.user-profil-recipe__image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 1.5rem;
}
@media screen and (min-width: 855px) {
  .user-profil-recipe__image {
    width: 45%;
  }
}
.user-profil-recipe__description {
  flex-direction: column;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 855px) {
  .user-profil-recipe__description {
    width: 48%;
  }
}
.user-profil-recipe__description--title {
  color: #08A045;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
  text-underline-offset: 0.3rem;
}
.user-profil-recipe__description--details {
  margin-top: 0.7rem;
}

.user-profil-card-recipe {
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 1px 1px 20px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
}

.user-profil__recipes-for-connected-user {
  margin-top: 2rem;
  flex-direction: column;
}
.user-profil__recipes-for-connected-user--list {
  flex-direction: column;
}

.user-change-password-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
  flex-direction: column;
}
.user-change-password-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
  max-width: 100%;
}
.user-change-password-form__form {
  margin-top: 5vw;
  max-width: 100%;
}
.user-change-password-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.user-change-password-form__field--input {
  max-width: 100%;
}

#edit_password_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change-user-informations-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
  flex-direction: column;
}
.change-user-informations-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
  max-width: 100%;
}
.change-user-informations-form__information {
  text-align: center;
  margin-top: 3vw;
  color: #08A045;
}
.change-user-informations-form__form {
  margin-top: 5vw;
  max-width: 100%;
}
.change-user-informations-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
}
.change-user-informations-form__field--input {
  max-width: 100%;
}

#edit_user_profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-connexion-form {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
  flex-direction: column;
}
.first-connexion-form__title {
  text-align: center;
  margin-top: 5vw;
  color: #0B6E4F;
}
.first-connexion-form__form {
  margin-top: 5vw;
  max-width: 100%;
}
.first-connexion-form__form form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-connexion-form__field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5vw;
  max-width: 100%;
  margin: 1rem;
}
@media screen and (min-width: 855px) {
  .first-connexion-form__field {
    margin: 2rem;
  }
}
.first-connexion-form__field--label {
  text-align: center;
}
.first-connexion-form__field--input {
  max-width: 100%;
}
.first-connexion-form__field-checkbox {
  margin-bottom: 8vw;
  margin: 1rem;
}
@media screen and (min-width: 855px) {
  .first-connexion-form__field-checkbox {
    margin-bottom: 5vw;
    margin: 2rem;
  }
}
.first-connexion-form__field-checkbox--label {
  text-align: center;
}
.first-connexion-form__field-checkbox--input {
  margin-top: 1rem;
}
.first-connexion-form__links {
  text-align: center;
  margin-top: 10vw;
}
@media screen and (min-width: 855px) {
  .first-connexion-form__links {
    margin-top: 5vw;
  }
}
.first-connexion-form__links a {
  color: #0B6E4F;
}
.first-connexion-form__links a:hover {
  color: #073B3A;
  text-underline-offset: 0.3rem;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
}

.error {
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 47px -3px #073B3A;
  border-radius: 1rem 1rem 1rem 1rem;
  outline: solid 0.3rem;
  outline-color: #0B6E4F;
  color: #0B6E4F;
}
.error__title {
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
  color: #073B3A;
}
.error__info {
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
}
.error__link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.terms-of-use {
  margin-top: 5rem;
}
.terms-of-use__main-title {
  text-align: center;
  margin: 2rem;
}
.terms-of-use__section {
  margin: 4rem 0;
}
.terms-of-use__section--title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.terms-of-use-paragraph {
  margin-bottom: 1.8rem;
}
.terms-of-use-paragraph__title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.terms-of-use-paragraph__subtitle {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.privacy-policy {
  margin-top: 5rem;
}
.privacy-policy__main-title {
  text-align: center;
}
.privacy-policy__section {
  margin: 4rem 0;
}
.privacy-policy__section--title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.legal-notice {
  margin-top: 5rem;
}
.legal-notice__main-title {
  text-align: center;
}
.legal-notice__section {
  margin: 4rem 0;
}
.legal-notice__section--title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.legal-notice-paragraph {
  margin-bottom: 1.8rem;
}
.legal-notice-paragraph__title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
  padding: 0.7vw 1.5vw;
}
.btn:hover {
  cursor: pointer;
}
.btn__primary {
  background-color: #08A045;
  color: #DDB771;
}
.btn__primary:hover {
  background-color: #08A045;
  color: #DDB771;
}
.btn__linear-gradient {
  background: linear-gradient(to bottom right, #0B6E4F, #6BBF59);
  width: 10rem;
  text-align: center;
  padding: 0.7vw 0.5vw;
}
@media screen and (min-width: 482px) {
  .btn__linear-gradient {
    width: 20rem;
    padding: 0.7vw 1.5vw;
  }
}
.btn__linear-gradient:hover {
  box-shadow: 1px 1px 10px -1px #073B3A;
}

.underline {
  color: #08A045;
  text-decoration: underline;
  text-decoration-color: #0B6E4F;
  text-underline-offset: 0.3rem;
}
.underline:hover {
  color: #0B6E4F;
  text-decoration-color: #08A045;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.show-flex {
  display: flex;
}

.app-flash-message {
  background-color: #08A045;
  margin-top: 3rem;
  text-align: center;
  padding: 3rem;
}/*# sourceMappingURL=style.css.map */