* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home__cover--title {
  font-family: "old standard tt", serif;
  font-size: 3rem;
}

.home-about__title, .home-services__title {
  font-family: "old standard tt", serif;
  font-size: 2rem;
}

.footer__contact--title, .footer__legals--title {
  font-family: "old standard tt", serif;
  font-size: 1.2rem;
}

.footer__contact--links, .footer__legals--links, .footer__copyright {
  font-family: "cardo", serif;
  font-size: 1rem;
}

.home__cover--description, .home-about__description--text-presentation, .home-about__description--text, .home-services__description--text, .home-services__description--links, .header__link {
  font-family: "cardo", serif;
  font-size: 1.3rem;
}

body {
  background-color: #87C38F;
  color: #43291F;
}

.header {
  background-color: #F4F0BB;
}

.header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header__container--logo {
  width: 20vw;
}

.header__container--nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__container--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin 0.3s eases;
  }
}
.header__link {
  margin: 0.8rem;
  color: #43291F;
  text-align: center;
  transition: color 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .header__link {
    margin: 0.07rem;
  }
}

.nav-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: all 400ms;
}

.header__container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header__container--btn {
    display: none;
  }
}
.header__container--btn i {
  display: block;
  color: #43291F;
  font-size: 1.5rem;
}

.footer {
  background-color: #F4F0BB;
  color: #43291F;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__logo {
  width: 20vw;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__contact {
  margin-top: 2vw;
}
.footer__contact--title {
  text-decoration: underline;
}
.footer__contact--links:hover {
  color: #226F54;
}
.footer__legals {
  margin-top: 2vw;
}
.footer__legals--title {
  text-decoration: underline;
}
.footer__legals--links:hover {
  color: #226F54;
}
.footer__copyright {
  margin-top: 2vw;
}

.home__cover {
  text-align: center;
  padding: 3rem;
}
.home__cover--title {
  color: #DA2C38;
}
.home__cover--description {
  margin-top: 2rem;
}

.home-about {
  margin: 3rem;
}
.home-about__title {
  color: #DA2C38;
  text-decoration: underline;
  text-decoration-color: #43291F;
  margin-top: 1.5rem;
  text-align: center;
}
.home-about__description {
  text-align: center;
}
.home-about__description--text-presentation {
  margin-top: 1.5rem;
}
.home-about__description--image {
  width: 20vw;
  margin-top: 1.5rem;
}
.home-about__description--text {
  margin-top: 1.5rem;
}

.home-services {
  margin: 3rem;
}
.home-services__title {
  color: #DA2C38;
  text-decoration: underline;
  text-decoration-color: #43291F;
  margin-top: 1.5rem;
  text-align: center;
}
.home-services__description {
  text-align: center;
}
.home-services__description--text {
  margin-top: 1.5rem;
}
.home-services__description--image {
  width: 20vw;
  margin-top: 1.5rem;
}
.home-services__description--links {
  text-align: center;
  margin-top: 1.5rem;
}

.button {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
}
.button__green {
  background-color: #F4F0BB;
  color: #43291F;
}
.button__green:hover {
  background-color: #226F54;
  color: #F4F0BB;
}/*# sourceMappingURL=style.css.map */